<launch>
        <param name="robot_description" command="cat $(find robot_description)/model.xml" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="state_publisher" pkg="robot_description" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rhand.rviz" required="true" />
</launch>
